<div class="container text-center">
  <h1>About Us</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium odio
  expedita at quos cupiditate nam in, totam, vel recusandae quia commodi veritatis 
  itaque maxime doloribus ex ipsa nemo, aspernatur dolore. </p>
</div>